.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Country {
  width: 11rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.countryName {
    text-align: center;
    font-size: 20pt;
    background-color: grey;
    color: white;
    margin-right: auto;
    margin-left: auto;
}
.addButton{
  color: green;

}
.addButton :hover {
  color: lightgreen;
}

.medalCount {
  padding-left: 5px;
  color: goldenrod;
  float: right;
}
.medals {
  font-size: 15pt;
  padding: 10px;
}